<h1>占个座</h1>

<% form_for(@attendee) do |f| %>
  <%= f.error_messages %>
  <legend></legend>
  <fieldset>
  <p>
    <%= f.label :name, '姓名 *' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, '电子邮件 *'%>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :city, '城市 *' %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state, '省 *' %>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :country, '国家 *' %>
    <%= f.country_select :country, ['China'] %>
  </p>
  <p>
    <%= f.label :company, '公司 *' %>
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :website, '网站' %>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :phone_number, '电话' %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :address1, '地址1' %>
    <%= f.text_field :address1, :size => 40 %>
  </p>
  <p>
    <%= f.label :address2, '地址2' %>
    <%= f.text_field :address2, :size => 40 %>
  </p>
  <p>
    <%= f.label :zipcode, '邮编' %>
    <%= f.text_field :zipcode %>
  </p>
  </fieldset>
  <center>
    <p>
      <%= f.submit '填好了' %>
    </p>
  </center>
<% end %>
