<h1><%= t('contact_us')%></h1> 
<div class='contact'>
	<h2><%=t('sponsorship')%></h2>
	<h3><%=t('oversea')%>:</h3> 
	<p>
	<strong><%=t('scott')%></strong>   <%=t('email')%>:scott#ekohe.com  <%=t('tel')%>: + 86 139 1708 6730
	</p> 
	<h3><%=t('cn')%></h3>
	<p> 
	<strong><%=t('robbin')%></strong>  <%=t('email')%>:fankai#gmail.com  <%=t('tel')%>:021 - 63505501 <%=t('mob')%>:13916323361
	</p>
	<h3><%=t('ja')%></h3>
	<p>
	<strong><%=t('koz')%></strong>  <%=t('email')%>:koz.masumitsu#gmail.com <%=t('tel')%>:+86-510-83594020
	<%=t('mob')%>:13921531014 
	</p>
	<h2><%=t('contact_orgnizer')%></h2> 
	<h3><%=t('speaker')%></h3> 
	<p>
	<strong><%=t('yuanyi')%></strong>  <%=t('email')%>:zhangyuanyi#gmail.com  <%=t('mob')%>:13482598953
	</p>
	<h3><%=t('help')%></h3>  
	<p>
	<strong><%=t('ouspec')%></strong> <%=t('email')%>:ouspec123#gmail.com <%=t('tel')%>:021-63505501 <%=t('mob')%>:13918331501
	</p>	
</div>
