
<div class='span-13 append-1'>
	<%= render :comatose=> "#{params[:locale]}/front" %>
	<p class='reg'>
	<%=t('action')%>
	<%=link_to t('register'),reg_path%><%=t('now')%>!!
	</p>
</div> 

<div class='span-4 last'>
   <h2><%= t('sponsor')%></h2>
<div class=' sponsor_logo'> 
	<%=link_to image_tag('sponsors/ekohe.gif'),"http://www.ekohe.com/",:target => '_blank'%>
	<%=link_to image_tag('sponsors/tg.gif'),"http://sites.google.com/site/tengusoftwaredevelopment/Home",:target => '_blank'%>
	<%=link_to image_tag('sponsors/caibangzi.gif',:size => "100x60"),"http://caibangzi.com/", :target => '_blank'%>
	<div class='be_sponsor'>
		 <b><%=link_to t('be_sponsor'),contacts_path %></b>
	</div>
</div>
	<h2><%= t('orgnizer') %></h2>
	<%=link_to image_tag('javaeye-logo.gif'),'http://www.javaeye.com',:target => '_blank',:alt=>"Javaeye logo"%>
	<%=link_to image_tag('shanghaionrails-logo.gif'),'http://www.shanghaionrails.com',:target => '_blank'%> 
	 <div class='be_sponsor'>
		<b><%=link_to t('about'),about_path %></b> 
	 </div>
</div>

