
<div class='span-13 append-1'>
	<%= render :comatose=> "#{params[:locale]}/front" %>
	<p class='reg'>
	<%=t('action')%>
	<%=link_to t('register'),reg_path%><%=t('now')%>!!
	</p>
 
	<h2><%= t('orgnizer') %></h2>
	<p style="margin-left: 50px;">
	  <%=link_to image_tag('sponsors/ekohe.gif', :width => '80'),"http://www.ekohe.com/",:target => '_blank'%>
    <%=link_to image_tag('sponsors/tg.gif', :width => '80'),"http://sites.google.com/site/tengusoftwaredevelopment/Home",:target => '_blank'%>
    <%=link_to image_tag('javaeye-logo.gif', :width => '100'),'http://www.javaeye.com',:target => '_blank',:alt=>"Javaeye logo"%>
    <%=link_to image_tag('shanghaionrails-logo.gif', :width => '100'),'http://www.shanghaionrails.com',:target => '_blank'%>
  </p>
</div> 

<div class='span-4 last'>
  <h3><%= t('diamond_sponsor') %></h3>
   <div class=' sponsor_logo'>  
    <%=link_to image_tag('sponsors/ekohe.gif', :width => '120'),"http://www.ekohe.com/",:target => '_blank'%>
  </div>
  <h3><%= t('platinum_sponsor') %></h3>
   <div class=' sponsor_logo'>
    <%=link_to image_tag('sponsors/pinpoint.gif'),"http://www.pinpoint.cn/", :target => '_blank'%>
  </div>
  
  <h3><%= t('golden_sponsor') %></h3>
  <div class=' sponsor_logo'>  
     <%=link_to image_tag('sponsors/caibangzi.gif', :width => "120"),"http://caibangzi.com/", :target => '_blank'%>
     <%=link_to image_tag('sponsors/tg.gif', :width => "120"),"http://http://sites.google.com/site/tengusoftwaredevelopment/Home", :target => '_blank'%>
  </div>
  
  <h3><%= t('silver_sponsor') %></h3>
  <div class=' sponsor_logo'>  
     <%=link_to image_tag('sponsors/roredu.gif', :width => "120"),"http://roredu.com/", :target => '_blank'%>
     <%=link_to image_tag('sponsors/kembo.gif', :width => "120"),"http://kembo-net.com/", :target => '_blank'%>
  </div>
  
  <div class='be_sponsor'>
    <b><%=link_to t('be_sponsor'),contacts_path %></b>
  </div>
</div>
