<% body_tag(map = true) %>    
<h1><%= t('loc')%></h1>      
<% content_for :javascripts_tag do %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAACO2fGhe5a6fInVzxhxw9DxT5TJQJ2U8Gm0nvpFHqoEic8BSE_RSVBmhxpvGn5z5Fv_hK2JoILL6gFQ&hl=<%=params[:locale]%>"
      type="text/javascript"></script>

    <script type="text/javascript">

    var map = null;
    var geocoder = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        geocoder = new GClientGeocoder();
		showAddress("中国上海漕宝路66号")
      }
    }

    function showAddress(address) {
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert("不能解析: " + address);
            } else { 
			html = "<%= t('venue')%><br /><%= t('address')%>" 
			var icon = new GIcon();
			icon.iconSize=new GSize(32,32);
			icon.shadowSize=new GSize(56,32);
			icon.iconAnchor=new GPoint(16,32); 
			icon.image = "/images/maplocation.png";
			icon.shadow = "/images/gshadow.png";
			icon.infoWindowAnchor=new GPoint(16,0);
	        map.setCenter(point, 14);
	        var marker = new GMarker(point, icon ,html);
	        map.addOverlay(marker);
			marker.openInfoWindowHtml(html);

            }
          }
        );
      }
    }
    </script>
<% end -%>  
<%= render :comatose=> "#{params[:locale]}/venue" %>  
