<div class='span-13 append-1'>    
<h2>Press</h2>  
<ul>
<li><a href='http://twitter.com/#search?q=%23RubyConfChina' target='_blank'>Real-time talking for #RubyConfChina on twitter</a>  </li> 
<li><a href='http://odwks.com/2009/06/ruby-growth-in-china/' target='_blank'>blog post by Jon</a>  </li> 
<li><a href='http://www.elctech.com/articles/first-rubyconf-china' target='_blank'>Blog post by Daniel</a>  </li>     
<li><a href='http://pic.yupoo.com/wear/953257895f07/15cz6g6q.jpg' target='_blank'>Japanese leading industry news paper NIKKEI SANGYO reported about RubyConf.China!</a>  </li>  
<li><a href='http://dreamhead.blogbus.com/logs/39725321.html' target='_blank'>blog post about rubyconfchina by dreamhead</a> </li>  
<li><a href='http://quake.javaeye.com/blog/394318' target='_blank'>blog post about rubyconfchina by quake</a> </li>    
<li><a href='http://www.javaeye.com/topic/393041' target='_blank'>blog post about rubyconfchina from javaeye.com</a> </li>    
   
</ul>     

<h2>Video & PPT</h2>
<h1><a href="/speakers">Uploaded, Click to View</a></h1>
<h2>Photo</h2>
<ul>
<li><a href='http://picasaweb.google.com/taweili/RubyConfChina?authkey=Gv1sRgCNTA5P2B-vGDPw#' target='_blank'>Photos(by David Li)</a>  </li>     
<li><a href='http://www.flickr.com/photos/splyb/sets/72157618611554930/' target='_blank'> Photos(by 
Robin Lu)</a>  </li>     
<li><a href='http://picasaweb.google.com/rubyac/RubyconfChina' target='_blank'>Photos(by 
rubyac)</a>  </li> 
<li><a href='http://www.flickr.com/photos/rainux/sets/72157618484203275/' target='_blank'>Photos(by  Rainux)</a>  </li>    
</ul> 
	
	<h2>Orgnizer</h2>
	<p style="margin-left: 50px;"> 
		  <%=link_to image_tag('javaeye-logo.gif', :width => '100'),'http://www.javaeye.com',:target => '_blank',:alt=>"Javaeye logo"%>       
		 <%=link_to image_tag('shanghaionrails-logo.gif', :width => '100'),'http://www.shanghaionrails.com',:target => '_blank'%>  
	  <%=link_to image_tag('sponsors/ekohe.gif', :width => '80'),"http://www.ekohe.com/",:target => '_blank'%>
  <%=link_to image_tag('sponsors/tg.gif', :width => '80'),"http://sites.google.com/site/tengusoftwaredevelopment/Home",:target => '_blank'%>
</p>   
</div>     

<div class='span-4 last'>
  <h3>Diamond Sponsors</h3>
   <div class=' sponsor_logo'>  
    <%=link_to image_tag('sponsors/ekohe.gif', :width => '120'),"http://www.ekohe.com/",:target => '_blank'%>
  </div>
  <h3>Platinum Sponsors</h3>
   <div class=' sponsor_logo'>
    <%=link_to image_tag('sponsors/pinpoint.gif'),"http://www.pinpoint.cn/", :target => '_blank'%>
  </div>
  
  <h3>Golden Sponsors</h3>
  <div class=' sponsor_logo'>  
     <%=link_to image_tag('sponsors/caibangzi.gif', :width => "120"),"http://caibangzi.com/", :target => '_blank'%>
     <%=link_to image_tag('sponsors/tg.gif', :width => "120"),"http://http://sites.google.com/site/tengusoftwaredevelopment/Home", :target => '_blank'%>
  </div>
  
  <h3>Silver Sponsors</h3>
  <div class=' sponsor_logo'>  
     <%=link_to image_tag('sponsors/roredu.gif', :width => "120"),"http://roredu.com/", :target => '_blank'%>
     <%=link_to image_tag('sponsors/kembo.gif', :width => "120"),"http://kembo-net.com/", :target => '_blank'%>
  </div>
  
  <div class='be_sponsor'>
    <b><%=link_to t('be_sponsor'),contacts_path %></b>
  </div>
</div>

