<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<title>Welcome to RubyConf China 2009</title> 
<%= stylesheet_link_tag 'screen','application',:cache => true %>
<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">	 
<%= yield :javascripts_tag %>
<!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<%= yield :body_tag %>

<div class="container">
	<div id="languages" class='lang'>
	  <%=link_to 'English',root_en_path%> |
	  <%=link_to '中文',root_zh_cn_path%>
	</div>                  
  <div id="header" class="clear span-18">
    <div id="nav">
    <ul>     
	 <li><%=link_to t('about'),about_path %></li>
      <li><%=link_to t('pro'),program_path %></li>
      <li><%=link_to t('register'),reg_path %></li>
      <li class='logo'>
        <a href="/"><img src="/images/logo.png" alt="Ruby Conf China 2009" /></a>
      </li>
      <li><%=link_to t('sponsor'),sponsors_path %></li>
      <li><%=link_to t('loc'),location_path %></li>
	<li><%=link_to t('contact'),contacts_path %> </li>
      </ul>
    </div>
  </div>

  <div id="content">
    <div>
      <%= flash[:notice] if flash[:notice] %>
    </div>
    <%= yield %>
  </div> 
  <hr />
</div> 
  <div id="footer">
 &copy; 2009 <a href="http://javaeye.com">JavaEye</a>, <a href="http://shanghaionrails.org">Shanghai on Rails</a>, Hosted by <a href="http://zoomtype.info">ZoomType</a>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-368181-7");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
