<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 

<title>Welcome to RubyConf China 2009</title>

<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">	
<!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->


</head>
<body>

<div class="container">
  <div class="clear span-18">

    <div id="navigation">
	  <%=link_to t('about'),about_path %> | 
      <%=link_to t('pro'),program_path %> |
      <%=link_to t('sponsor'),sponsors_path %> | 
      <%=link_to t('loc'),location_path %> 
    </div>

    <div id="logo">
      <a href="/"><img src="/images/logo.png" alt="Ruby Conf China 2009" /></a>
    </div>
    <div id="cover" class="clear span-18">
	   <div id="panel-left">
	   	   We are already closed
	   </div>
    </div>

  </div>

  <div id="content"> 

    <div>
      <%= flash[:notice] if flash[:notice] %>
    </div>    

    <%= yield %>
  </div> 
  <hr />
</div> 
  <div id="footer">
 &copy; 2009 <a href="http://javaeye.com">JavaEye</a>, <a href="http://shanghaionrails.org">Shanghai on Rails</a>, Hosted by <a href="http://zoomtype.info">ZoomType</a>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-368181-7");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
